<ion-item>
  <ion-avatar slot="start">
    <ion-icon
      [name]="item?.category?.icon"
      [style]="'color: ' + item?.category?.color + ';'"
    ></ion-icon>
  </ion-avatar>
  <ion-label>
    <ng-container *ngIf="!item?.type2">
      <h3>{{item.category?.name}}</h3>
    </ng-container>
    <ng-container *ngIf="item?.type2">
      <h3><b>{{item?.category?.name}}</b> - {{item.ownerOfType2}}</h3>
    </ng-container>
    <p>{{item.title}}</p>
  </ion-label>
  <ion-note class="cur-revenue" slot="end" *ngIf="item.type == 'revenue'">
    {{item.revenue | currency:currency}}
  </ion-note>
  <ion-note class="cur-expenditure" slot="end" *ngIf="item.type == 'expenditure'">
    {{item.expenditure | currency:currency}}
  </ion-note>
</ion-item>