<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
    </ion-buttons>
    <ion-title>{{viewTitle}}</ion-title>
  </ion-toolbar>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
  >
  </calendar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of eventOfDate">
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <p>{{item.title}}</p>
            <p>{{item.expenditure}}</p>
            <p>{{item.revenue}}</p>
          </ion-label>
        </ion-item>
    
        <ion-item-options>
          <ion-item-option color="light">
            <ion-icon name="pencil-outline" color="primary" slot="top"></ion-icon>
            Chỉnh sửa
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon name="copy-outline" color="warning" slot="top"></ion-icon>
            Sao chép
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon name="close" color="danger" slot="top"></ion-icon>
            Xóa
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #monthviewDisplayEventTemplate 
  let-view="view" 
  let-row="row" 
  let-col="col"
>
  <ng-container>
    <div class="month-square">
      <span class="date">{{view.dates[row*7+col].label}}</span>
      <span class="expenditure">
        {{convertExpenditure(view, row*7+col)}}
      </span>
      <span class="revenue">
        {{convertRevenue(view, row*7+col)}}
      </span>
    </div>
  </ng-container>
</ng-template>