<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
    </ion-buttons>
    <ion-title>{{viewTitle}}</ion-title>
  </ion-toolbar>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
  >
  </calendar>
</ion-header>
<div style="height: 30px; display: flex; justify-content: space-around; margin-top: 15px;">
  <span class="cur-revenue">
    Thu: {{totalRevenue | currency:currency}} 
  </span>
  <span class="cur-expenditure">
    Chi: {{totalExpenditure | currency:currency}} 
  </span>
  <span
    class="{{totalRevenue - totalExpenditure >= 0 ? 'cur-revenue' : 'cur-expenditure'}}"
  >
    Còn lại: {{totalRevenue - totalExpenditure | currency:currency}}
  </span>
</div>

<ion-content>
  
  <ion-list>
    <ng-container *ngFor="let item of eventOfDate">
      <ion-item-sliding>
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon
              [src]="item?.category?.icon"
              [style]="'color: ' + item?.category?.color + ';'"
            ></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>{{item.category?.name}}</h3>
            <p>{{item.title}}</p>
          </ion-label>
          <ion-note class="cur-revenue" slot="end" *ngIf="item.type == 'revenue'">
            {{item.revenue | currency:currency}}
          </ion-note>
          <ion-note class="cur-expenditure" slot="end" *ngIf="item.type == 'expenditure'">
            {{item.expenditure | currency:currency}}
          </ion-note>
        </ion-item>
    
        <ion-item-options>
          <ion-item-option color="light">
            <ion-icon name="pencil-outline" color="primary" slot="top"></ion-icon>
            Chỉnh sửa
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon name="copy-outline" color="warning" slot="top"></ion-icon>
            Sao chép
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon name="close" color="danger" slot="top"></ion-icon>
            Xóa
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #monthviewDisplayEventTemplate 
  let-view="view" 
  let-row="row" 
  let-col="col"
>
  <ng-container>
    <div class="month-square">
      <span class="date">{{view.dates[row*7+col].label}}</span>
      <span class="expenditure">
        {{convertExpenditure(view, row*7+col)}}
      </span>
      <span class="revenue">
        {{convertRevenue(view, row*7+col)}}
      </span>
    </div>
  </ng-container>
</ng-template>