:host ::ng-deep {
    .table > tbody > tr > td {
      padding: 0px !important;
      height: 40px;
      width: 100%;
    }

    .monthview-primary-with-event {
        background-color: rgb(222, 240, 255) !important;
    }

    .monthview-secondary-with-event {
        background-color: rgb(247, 247, 247) !important;
    }

    .monthview-current {
        background-color: rgb(252, 255, 222) !important;
        .date {
            font-weight: bold;
        }
    }

    .monthview-selected {
        background-color: rgb(232, 255, 214) !important;
        .date {
            font-weight: bold;
        }
    }
    //////////////////
    
    calendar > .monthview-container > monthview > div > ion-list {
        display: none !important;
    }
    
}
.month-square {
    height: 40px;
    width: 100%;
}

.date {
    display: block;
    font-size: 12px;
    position: relative;
    right: 16px;
    width: 100%;
    color: black;
}

.expenditure {
    display: block;
    font-size: 10px;
    position: relative;
    bottom: 7px;
    text-align: right;
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    width: 55px;
    text-overflow: ellipsis;
    padding-right: 2px;
    padding-left: 2px;
}

.revenue {
    display: block;
    font-size: 10px;
    position: relative;
    top: -16px;
    text-align: right;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    width: 55px;
    text-overflow: ellipsis;
    padding-right: 2px;
    padding-left: 2px;
}