<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons *ngIf="action != 'add'" (click)="back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-segment [disabled]="action == 'edit'" mode="ios" [value]="type" (ionChange)="changeSegment($event)">
      <ion-segment-button value="revenue">
        <ion-label>Tiền Thu</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenditure">
        <ion-label>Tiền Chi</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list mode="ios">
    <ion-list-header>
      <ion-label>{{titlePage}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Ngày</ion-label>
      <ion-datetime-button [datetime]="id"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            [(ngModel)]="date" 
            [presentation]="'date'"
            [id]="id"
            [locale]="localID"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item *ngIf="type == 'revenue'">
      <ion-input label="Doanh thu" [(ngModel)]="revenue" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="type == 'expenditure'">
      <ion-input label="Chi tiêu" [(ngModel)]="expenditure" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Tiêu đề" [(ngModel)]="title" placeholder="Type something here"></ion-textarea>
    </ion-item>
    <div class="div-category">
      <ion-list>
        <ion-list-header>
            <ion-label>Chọn danh mục</ion-label>
            <ion-button (click)="editCate()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-list-header>
        <ng-container *ngFor="let item of listCategory">
          <div class="parent-cate">
            <ion-card [ngClass]="{'clicked': category.icon == item.icon}" class="card-category" (click)="chooseCate(item)">
              <ion-card-header>
                <ion-icon [name]="item.icon" 
                  aria-hidden="true" [style]="
                    'color: '+ item.color +';'+
                    'font-size: 30px;'+
                    'margin: auto;'
                  "
                ></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                {{item.name}}
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>
        <ng-container *ngIf="listCategory.length == 0">
          <app-empty></app-empty>
        </ng-container>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
<ion-footer mode="ios">
  <ion-button 
    [disabled]="!expenditure && !revenue" 
    expand="block" 
    (click)="actionSave()"
  >
    <ion-icon slot="start" name="save-outline"></ion-icon>
    <ng-container *ngIf="action != 'edit'">Thêm</ng-container>
    <ng-container *ngIf="action == 'edit'">Lưu lại</ng-container>
  </ion-button>
</ion-footer>
