<ion-header mode="ios">
  <ion-toolbar>
    <ion-segment mode="ios" [value]="type" (ionChange)="changeSegment($event)">
      <ion-segment-button value="revenue">
        <ion-label>Tiền Thu</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenditure">
        <ion-label>Tiền Chi</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list mode="ios">
    <ion-list-header>
      <ion-label>{{titlePage}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Ngày</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            [(ngModel)]="date" 
            [presentation]="'date'"
            id="datetime"
            [locale]="localID"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item *ngIf="type == 'revenue'">
      <ion-input label="Doanh thu" [(ngModel)]="revenue" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="type == 'expenditure'">
      <ion-input label="Chi tiêu" [(ngModel)]="expenditure" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Tiêu đề" [(ngModel)]="title"></ion-input>
    </ion-item>
    <div class="div-category">
      <ion-list>
        <ion-list-header>
            <ion-label>Chọn danh mục</ion-label>
            <ion-button (click)="editCate()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-list-header>
        <ng-container *ngFor="let item of listCategory">
          <div class="parent-cate">
            <ion-card [ngClass]="{'clicked': category.name == item.name}" class="card-category" (click)="chooseCate(item)">
              <ion-card-header>
                <ion-icon [name]="item.icon" 
                  aria-hidden="true" [style]="
                    'color: '+ item.color +';'+
                    'font-size: 30px;'+
                    'margin: auto;'
                  "
                ></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                {{item.name}}
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar mode="ios">
    <ion-button expand="block" (click)="action()">Thêm</ion-button>
  </ion-toolbar>
</ion-footer>
