.div-category {
    width: 100%;
    .parent-cate {
        width: 33.33%;
        display: inline-block;
        padding: 10px 10px 0px 10px;
        
    }
}

ion-card.card-category {
    margin: 0px;
    
    &.clicked {
        --background: #ECEFF8;
    }
}

ion-card-content {
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}