<ion-header mode="ios">
  <ion-toolbar>
    <ion-segment mode="ios" [value]="type" (ionChange)="changeSegment($event)">
      <ion-segment-button value="revenue">
        <ion-label>Tiền Thu</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenditure">
        <ion-label>Tiền Chi</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <canvas
      baseChart
      class="chart"
      [data]="doughnutChartData"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>
</ion-content>
