<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-icon class="fz-24" name="images-outline"></ion-icon>
    </ion-buttons>
    <ion-segment mode="ios" value="month">
      <ion-segment-button value="month">
        <ion-label>Hàng tháng</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label>Hàng năm</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons>
      <ion-icon class="fz-24" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <ion-label class="text-center">
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            presentation="month-year" 
            (ionChange)="changeDate($event)"
            id="datetime"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <div class="flex">
    <ion-item class="w-100" lines="none">
      <ion-label>Thu</ion-label>
      <ion-text class="text-right revenue">+ {{numberRevenue | currency:currency}}</ion-text>
    </ion-item>
    <div style="width: 10px;"></div>
    <ion-item class="w-100" lines="none">
      <ion-label>Chi</ion-label>
      <ion-text class="text-right expenditure">- {{numberExpenditure | currency:currency}}</ion-text>
    </ion-item>
  </div>
  <ion-item class="w-100" lines="none">
    <ion-label>Thu Chi</ion-label>
    <ng-container *ngIf="numberRevenue >= numberExpenditure">
      <ion-text class="text-right revenue">+ {{numberRevenue - numberExpenditure | currency:currency}}</ion-text>
    </ng-container>
    <ng-container *ngIf="numberRevenue < numberExpenditure">
      <ion-text class="text-right expenditure">- {{numberExpenditure - numberRevenue | currency:currency}}</ion-text>
    </ng-container>
  </ion-item>

  <ion-segment value="revenue" mode="md" [value]="type" (ionChange)="changeSegment($event)">
    <ion-segment-button value="revenue">
      <ion-label>Thu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="expenditure">
      <ion-label>Chi</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="chart">
    <canvas id="chartInstance">
      {{chartInstance}}
    </canvas>
  </div>
  <ion-list>
    <ng-container *ngFor="let item of listCategory">
      <ion-item [button]="true">
        <ion-icon name="{{item?.icon}}" [style]="'color:'+item?.color+';'"></ion-icon>
        <ion-label style="margin-left: 10px;">
          {{item?.name}}
        </ion-label>
        <ion-text class="revenue" *ngIf="type == 'revenue'">+ {{item?.number | currency:currency}}</ion-text>
        <ion-text class="expenditure" *ngIf="type == 'expenditure'">- {{item?.number | currency:currency}}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
