.fz-24 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    margin-top: 5px;
}

.chart {
    display: block;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.revenue {
    color: #109b78;
}

.expenditure {
    color: #b63e0e;
}