ion-avatar {
    --border-radius: 0px;
    ion-icon {
        font-size: 40px;
    }
}

.cur-expenditure {
    color: #b63e0e;
    font-size: 16px;
}

.cur-revenue {
    color: #109b78;
    font-size: 16px;
}