<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Search Event</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" (ionInput)="searchEvent($event)"></ion-searchbar>
  <div class="padding">
    <ion-chip 
      (click)="filterData('revenue')"
      [color]="filter === 'revenue' ? 'primary' : ''"
    >
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Tiền Thu</ion-label>
    </ion-chip>
    <ion-chip 
      (click)="filterData('expenditure')"
      [color]="filter === 'expenditure' ? 'primary' : ''"
    >
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Tiền Chi</ion-label>
    </ion-chip>
    <ion-chip
      (click)="filterCategory()"
      [color]="haveCategory ? 'primary' : ''"
    >
      <ion-icon [name]="iconCategory"></ion-icon>
      <ion-label>{{textCategory}}</ion-label>
    </ion-chip>
    <ion-chip
      (click)="filterTime()"
    >Thời gian</ion-chip>
  </div>
</ion-header>
<ion-content mode="ios">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ng-container *ngFor="let item of eventSource; let i = index">
      <ion-list-header mode="ios" *ngIf="i == 0 || item?.startTime.getTime() !== eventSource[i-1]?.startTime.getTime()">
        <ion-label>{{ReturnTitle(item?.startTime)}} - ({{totalOfTime(item?.startTime) | currency:currency}})</ion-label>
      </ion-list-header>
      <app-slide-item
        [item]="item"
        [currency]="currency"
        (eventDetail)="viewDetail(item, $event)"
      ></app-slide-item>
    </ng-container>
  </ion-list>
</ion-content>