.header {
    display: flex;
    justify-content: space-between;
}

ion-card {
    margin: 0px !important;
}

.title {
    text-align: center;
}

ion-card-content {
    padding: 5px !important;
}

ion-card-header {
    padding: 15px !important;
}